
.DS_Store
Thumbs.db
*~
*.swp
*.swo
*.tmp

tmp/
temp/

.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

.idea/
.vs/

*.suo
*.user
*.userosscache
*.sln.docstates

*.log
logs/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# =========================================================
# Environment promenljive i tajne
# =========================================================

.env
.env.*
!.env.example
!.env.*.example
contract/.env

appsettings.Local.json
appsettings.*.local.json
secrets.json

*.pfx
*.p12
*.pem
*.key
*.mnemonic
*.privatekey

keystore/
wallets/

backend/**/bin/
backend/**/obj/
backend/**/TestResults/
backend/**/coverage/
backend/**/artifacts/

*.coverage
*.coveragexml
*.nupkg
*.snupkg

packages/


/contract/out/*
/contract/cache/*
/contract/broadcast/*
/contract/lcov.info
/contract/coverage/*


frontend/crowdfunding-web/node_modules/
frontend/crowdfunding-web/dist/
frontend/crowdfunding-web/.vite/
frontend/crowdfunding-web/coverage/

frontend/crowdfunding-web/.cache/
frontend/crowdfunding-web/.eslintcache
frontend/crowdfunding-web/*.tsbuildinfo

frontend/crowdfunding-web/.env
frontend/crowdfunding-web/.env.*
!frontend/crowdfunding-web/.env.example
!frontend/crowdfunding-web/.env.*.example
*.tsbuildinfo

deployments/local/
deployments/anvil/

*.local.json